html,
body {
    font-family: ocr-a-std, monospace;
    font-weight: 400;
    font-style: normal;
    background: black;
    height: 100%;
    color: ivory;
}

.wrapper {
    display: grid;
    /* grid-template-rows: 100px 1fr 100px; */
    grid-template-rows: 100px repeat(auto-fill, minmax(300px, 0.5fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

main {
    max-width: 630px;
}

#disclaimer {
    color: yellow;
    padding: 20px;
    border: 1px solid yellow;
    /*border-radius: 100px;*/
}

p {
    text-align: center;
    line-height: 1.5em;
}


/*
.back:hover,
.back:focus {
    color: black;
    background-color: ivory;
    text-decoration: none;
    cursor: pointer;
}
*/
